
        h1, h2, p{
            text-align: center;
        }
        body{
            background-color:rgb(228, 202, 168);
            /*text-align: center;*/
        }
        div{
            width: 300;
            
        }
        
